<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <!-- 配置web应用参数,配置的方法类似于init-param,也是key对应value -->
  <context-param>
  	<!-- key -->
  	<param-name>database</param-name>
  	<!-- value -->
  	<param-value>192.168.1.104</param-value>
  </context-param>
  
  <context-param>
  	<!-- key -->
  	<param-name>pagePath</param-name>
  	<!-- value -->
  	<param-value>/pages/</param-value>
  </context-param>
  
  <display-name>ServletLesson</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
  	<servlet-name>base</servlet-name>
  	<servlet-class>com.fja.base.ServletBaseApply</servlet-class>
  	<!-- 设置servlet在服务器启动时就创建实例，数字越大，创建的优先级越低 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <servlet>
  	<servlet-name>life</servlet-name>
  	<servlet-class>com.fja.base.ServletLifecycle</servlet-class>
  </servlet>
  
  <!-- serlvet的配置信息 -->
  <servlet>
  	<servlet-name>config</servlet-name>
  	<servlet-class>com.fja.base.Servletconfig</servlet-class>
  	<!-- 
  		配置servlet初始参数,作用和properties文件类似，并且也是key value的形式进行配置 
  		这些初始化参数会封装到ServletConfig对象中去，通过init(ServletConfig)进行获取
  	-->
  	<init-param>
  		<!-- key -->
  		<param-name>filePath</param-name>
  		<!-- value -->
  		<param-value>E:/poet.txt</param-value>
  	</init-param>
  	
  	<init-param>
  		<param-name>picPath</param-name>
  		<param-value>D:/alien.jpg</param-value>
  	</init-param>
  </servlet>
  
  
  <!-- ServletContext -->
  <servlet>
  	<servlet-name>servletcontext</servlet-name>
  	<servlet-class>com.fja.base.Servletcontext</servlet-class>
  </servlet>
  
  
  
  <!-- getRealPath -->
  <servlet>
  	<servlet-name>acquireResource</servlet-name>
  	<servlet-class>com.fja.storage.AcquireWebResource</servlet-class>
  </servlet>
  
  
  
  <!-- 精确匹配 -->
  <servlet-mapping>
  	<servlet-name>base</servlet-name>
  	<url-pattern>/base</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>life</servlet-name>
  	<url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  
  <!-- 模糊匹配 -->
  <servlet-mapping>
  	<servlet-name>base</servlet-name>
  	<url-pattern>/servlet/apply/*</url-pattern>
  </servlet-mapping>
  
  
  <!-- serlvet的配置信息 -->
  <servlet-mapping>
  	<servlet-name>config</servlet-name>
  	<url-pattern>/servlet/config</url-pattern>
  </servlet-mapping>
  	  
  	  
  <!-- ServletContext -->
  <servlet-mapping>
  	<servlet-name>servletcontext</servlet-name>
  	<url-pattern>/servlet/context</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>acquireResource</servlet-name>
  	<url-pattern>/acquire/resource</url-pattern>
  </servlet-mapping>
</web-app>